<html>

<head>
	<link href='style.css' rel='stylesheet' type='text/css'>
</head>

<div class="header">
</div>

<%= @message %> </p>
<p> Place your bet on dice number (1-6) </p>

<div class="topLeft">
	<form method="POST" action='/betting'>
		<label for='bet'>Bet Money </label> <input type='text' name='wager' value="<%= @wager %>"></input><br>
		<label for='on'>on </label> <input type='text' name='number'></input><br>
		<input type='submit' name='submit' value='Bet'id='betButton'></input>
	</form>
</div>

<div class="topRight">
	<form method="POST" action='/betting'>
		<label for='sessionWin'>Session Win </label><br> <input id='win' value='<%= @sessionWin %>'/><br>
		<label for='sessionLoss'>Session Loss </label><br> <input id='loss' value='<%= @sessionLoss %>'/><br>
		<label for='sessionProfit'>Session Profit </label><br> <input id='profit' value='<%= @sessionProfit %>'/>
	</form>
</div>

<div class="bottom">
<h4> Account </h4>
	<div class="container">
		
		<div class="row">
			<div class="column">
				<p> Total Win </p>
			</div>

			<div class="column">
				<p> Total Loss </p>
			</div>
			
			<div class="column">
				<p> Total Profit </p>
			</div>
		</div>

		<div class="row">
			<div class="column">
				<input id='total' value='<%= @totalWin %>' />
			</div>

			<div class="column">
				<input id='totalLoss' value='<%= @totalLoss %>' />
			</div>
			
			<div class="column">
				<input id='totalProfit' value='<%= @totalProfit %>' />
			</div>

		</div>
	</div>

	<div class="logout">
		<form method='get' action='/logout'>
			<input type='submit' value='logout' id='logoutButton'></input>
		</form>
	</div>

</div>

</html>